In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [15]:
url = 'https://fbref.com/en/comps/Big5/gca/players/Big-5-European-Leagues-Stats'
response = requests.get(url)

if response.status_code == 200:
    html = response.text
else:
    print('Error, Status Code ', response.status_code)

In [34]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service

# Specify the path to the ChromeDriver executable
service = Service(executable_path='E:\\Coding\\WebScrapingPractice\\PLStatAnalysis\\chromedriver.exe')

# Initialize the Chrome WebDriver with the specified service
driver = webdriver.Chrome(service=service)

driver.get('https://fbref.com/en/comps/9/possession/Premier-League-Stats')

tables = pd.read_html(driver.page_source, header=1)[2]
driver.quit()

C:\Users\Darcy Cox\AppData\Local\Temp\ipykernel_29816\3703330052.py:12: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(driver.page_source, header=1)[2]

In [35]:
tables

,Rk,Player,Nation,Pos,Squad,Age,Born,90s,Touches,Def Pen,...,TotDist,PrgDist,PrgC,1/3,CPA,Mis,Dis,Rec,PrgR,Matches
0,1,Max Aarons,eng ENG,DF,Bournemouth,24-063,2000,12.1,615,37,...,1908,998,19,11,7,11,7,310,22,Matches
1,2,Bénie Adama Traore,ci CIV,"FW,MF",Sheffield Utd,21-098,2002,4.3,112,2,...,462,174,7,5,3,10,7,69,14,Matches
2,3,Tosin Adarabioyo,eng ENG,DF,Fulham,26-165,1997,11.0,862,113,...,2890,1716,4,5,0,2,4,617,2,Matches
3,4,Elijah Adebayo,eng ENG,FW,Luton Town,26-060,1998,12.9,395,24,...,1218,355,14,11,11,56,25,281,85,Matches
4,5,Simon Adingra,ci CIV,FW,Brighton,22-066,2002,15.2,724,17,...,3065,1761,69,31,38,27,17,502,189,Matches
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
571,Rk,Player,Nation,Pos,Squad,Age,Born,90s,Touches,Def Pen,...,TotDist,PrgDist,PrgC,1/3,CPA,Mis,Dis,Rec,PrgR,Matches
572,551,Anass Zaroury,ma MAR,"FW,MF",Burnley,23-121,2000,1.7,87,1,...,362,91,2,2,0,3,2,68,12,Matches
573,552,Oleksandr Zinchenko,ua UKR,DF,Arsenal,27-083,1996,15.9,1456,35,...,3943,1913,35,26,7,8,13,996,54,Matches
574,553,Kurt Zouma,fr FRA,DF,West Ham,29-132,1994,22.2,1071,190,...,2759,1550,5,4,1,10,1,634,0,Matches
575,554,Martin Ødegaard,no NOR,MF,Arsenal,25-081,1998,23.5,1657,15,...,5622,2468,66,55,24,35,43,1304,140,Matches

In [37]:
cleandf = tables.drop('Rk', axis=1) #removes irrelevant matches column
df1 =  cleandf.drop('Matches', axis=1)
df2 = df1[df1['Player'] != 'Player']


df2.to_csv('PLPossStats.csv', index=False)